/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-color:#FAF7F0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.float-r {
    float: right;
}

